SUBSYSTEM=="s826", KERNEL=="s826_0",MODE="0666"
SUBSYSTEM=="s826", KERNEL=="s826_1",MODE="0666"
SUBSYSTEM=="s826", KERNEL=="s826_2",MODE="0666"
SUBSYSTEM=="s826", KERNEL=="s826_3",MODE="0666"
SUBSYSTEM=="s826", KERNEL=="s826_4",MODE="0666"
SUBSYSTEM=="s826", KERNEL=="s826_5",MODE="0666"
SUBSYSTEM=="s826", KERNEL=="s826_6",MODE="0666"
SUBSYSTEM=="s826", KERNEL=="s826_7",MODE="0666"

